.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left-header{
        color: aqua;
        font-size: 25px;
       padding-left: 80px;
       .iconreact{
        padding-right: 10px;
        font-size: 40px;
        color: aqua;

       }
       .titleheader{
        font-size: 40px;
        color: aqua;
        padding-right: 25px;
       }
       }
       .right-header{
        padding-top: 15px;
        padding-right: 80px;
        .welcomeuser{
         padding:0 25px;
        }
    }
    }
  

