.header-container{
    display: flex;
    justify-items: center;
    .left-header{
        display: flex;
        color: aqua;
        font-size: 25px;
       padding-left: 30px;
       .iconreact{
        padding-right: 10px;
        font-size: 40px;
        color: aqua;

       }
       .titleheader{
        font-size: 40px;
        color: aqua;
        padding-right: 25px;
       }
       }
       .right-header{
        display: flex;
        padding-top: 15px;
   
        .welcomeuser{
         padding:0 25px;
        }
    }
    }
  

